body {
    background-color: cadetblue;
    color: white;
}

/* Style des titres */

#site-title,
#site-subtitle {
    text-align: center;
}

#site-title {
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.05em;
    margin: 50px 0 0 0;
}

#site-subtitle {
    font-family: 'Sriracha', cursive;
    font-size: 1.5em;
    margin: 0 0 25px 0;
}

/*Style du menu d'accueil*/

.mood-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 30%;
    grid-gap: 20px;
}

.mood-child {
    justify-self: center;
    height: 150px;
    width: 150px;
}

.mood-child:hover {
    animation: imgOpacity 500ms;
    animation-fill-mode: forwards;
}

 /* Display de la barre de menu et de la fenêtre de présentation */

.mood-parent-selection,
#presentation-child {
    display: flex;
}

.mood-parent,
.mood-parent-selection,
#presentation-child {
	justify-content: center;
}

/*Style de la barre de menu*/

.mood-child-selection {
    height: 60px;
    width: 60px;
    padding: 5px 10px;
    margin: 0;
}

.mood-child-selection:hover {
    animation: shake 0.2s ease-in-out 0.1s infinite alternate;
}

/* Style du mood selectionné */

.mood-child-selected {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

/* Style de la fenêtre de présentation */

#presentation-parent {
    visibility: hidden;
}

.presentation-active {
    visibility: visible !important;
}

#presentation-child {
    text-align: left;
    margin: 30px 0;
}

#presentation-img,
#presentation-text {
    width: 50%;
}

#presentation-img {
    height: 250px;
    width: 250px;
}

#presentation-text {
    font-size: 2.25em;
    margin: 15px 0 0 30px;
}

#presentation-text p {
    font-size: initial;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    margin: 0;
    text-transform: capitalize;
}

#presentation-text p:first-of-type {
    margin: 15px 0 3px 0;
}

/* Responsive */

@media (max-width: 768px) {
    .mood-parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .mood-child {
        height: 100px;
        width: 100px;
    }

    .mood-child-selection {
        height: 50px;
        width: 50px;
    }

    #presentation-img {
        height: 150px;
        width: 150px;
    }

    #presentation-text {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    .mood-parent-selection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
		grid-gap: 0;
    }

    #presentation-child {
    	flex-direction: column;
		align-items: center;
		text-align: center;
	}

	#presentation-text {
    	margin: 0;
	}
}

/* Animations */

@keyframes imgOpacity {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    30% {
        opacity: 0.75;
    }
    to {
        opacity: 1;
        transform: scale(1.25, 1.25);
    }
}

@keyframes shake {
	from {
		transform: rotate(10deg);
	}
	to {
		transform-origin: center center;
		transform: rotate(-10deg);
	}
}